.tab {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
  }
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .tabcontent.show {
    display: block;
  }
  .project {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
  }
  @media (max-width: 600px) {
    .tab {
      flex-direction: column;
    }
    .contact-form {
      display: block;
      padding: 10px;
    }
  }
  @media (min-width: 601px) {
    .contact-form {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
  }